.consulting-icon {
	background: url('http://placehold.it/200x200') no-repeat;
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

.educating-icon, .coaching-icon, .speaking-icon {
		@extend .consulting-icon;
} //better way to do this?

.four-column-mixed {
	@include mobileCenter;
	li {
		padding-top: 20%;
	}
	@include breakpoint(tablet) {
		text-align: center;
		li {
			display: inline-block;
			width: 40%;
			vertical-align: top;
			padding-top: 5%;
		}
	}
	@include breakpoint(desktop) {
		width: 100%;
		padding: 5%;
		li {
			width: 24%;
			padding: 2%;
		}
	}
}
