.consulting-icon {
	background: url('http://placehold.it/200x200');
	width: 200px;
	height: 200px;
	display: block;
	margin: $margin-section auto;
}

.educating-icon, .coaching-icon, .speaking-icon {
		@extend .consulting-icon;
} //better way to do this?

.four-column-mixed {
	@include mobileCenter;
	@include breakpoint(tablet) {
		text-align: center;
	}
	@include breakpoint(desktop) {
		width: 90%;
	}
	li {
		@include breakpoint(tablet) {
			display: inline-block;
			width: 40%;
			vertical-align: top;
		}
		@include breakpoint(desktop) {
			width: 23%;
		}
	}	
}
