// global header styles
$logo-image: url('http://placehold.it/300x150');

.header-logo {
	background: $logo-image;
	height: 100px;
	width: 350px;
	float: left;
	clear: both;
	margin-bottom: $margin-section;
}
.hero-banner {
	clear: both;
}
.nav-collapse {
	text-align: center;
	@include breakpoint(tablet) {
		li {
			display: inline;
		}
		.main-menu {
			text-align: right;
		}
	}
}

