.nav-collapse ul {
  margin: 0;
  width: 100%;
  display: block;
  list-style: none;
}


.nav-collapse {
  clear: both;
  float: left;
  li {
    width: 100%;
    display: block;
  }
  @include breakpoint(tablet) {
    clear: none;
    float: none;
    li {
      display: inline;
    }
  }
}
.nav-toggle {
  background: url("../images/hamburger.png") no-repeat;
  background-position: 0% 50%;
  width: 20px;
  height: 20px;
  -webkit-background-size: 20px 20px;
  color: transparent;;
  display: inline-block;
  float: right;
  margin-left: 20px;
  &:hover {
    color: transparent;
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@include breakpoint(desktop) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}