.speech-bubble {
  background: url('http://lorempixel.com/400/400/');
  color: white;
  padding: 2%;
}
.triangle-isosceles {
  position:relative;
  padding:20px;
  margin:1em 0 3em;
  color: $text-color-dos;
  background: $theme-color; //background color
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  @include mobileCenter;

  &:after {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left: 15%; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:$theme-color transparent;
    display:block;
    width:0;
  }
}
.ceo-img {
  background: url('http://placehold.it/20x20');
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  border: 3px $text-color-dos solid;
  @include breakpoint(tablet) {
    margin-right: 10px;
    margin-bottom: -10px; 
  }
}
.ceo-identity {
  display: block;
  margin-left: 15%;
  h4 {
    @include breakpoint(tablet) {
      display: inline-block;
    }
  }
}
