.two-column-layout-mixed {
	margin: auto;
	background: $bg-color-two;
	@include breakpoint(tablet) {
		max-width: 1200px;
		padding: 5%;
	}
}

.left-col-img {
	background: url('http://placehold.it/300x300');
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	@include breakpoint(tablet) {
		float: left;
		width: 40%;
		@include breakpoint(desktop) {
			background: url('http://placehold.it/400x400') no-repeat;
			height: 400px;
		}
	}
}
.right-col-text {
	@include mobileCenter;
	@include breakpoint(tablet) {
		width: 40%;
		float: right;
		margin: 0;
	}
	>* {
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
}