.two-column-layout-mixed {
	@include breakpoint(tablet) {
		padding-left: 40px;
		// height: 380px;
		@include breakpoint(desktop) {
			// height: 400px;
		}
	}
}

.left-col-img {
	background: url('http://placehold.it/300x300');
	width: 40%;
	height: 300px;
	display: block;
	margin: $margin-section auto;
	@include breakpoint(tablet) {
		float: left;
		margin: 0 60px 70px 60px;
		@include breakpoint(desktop) {
			background: url('http://placehold.it/400x400') no-repeat;
			height: 400px;
		}
	}
}
.right-col-text {
	@include mobileCenter;
	@include breakpoint(tablet) {
		width: 40%;
		float: right;
		margin: 0;
	}
	>* {
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
}