.two-column-text-only {
	@include mobileCenter;
	clear: both;
	background: $theme-color;
	color: $text-color-dos;
	width: 100%;
	padding: 10%;
	.left-column-text {
		@include breakpoint(tablet) {
			float: left;
			width: 40%;
			margin-top: 0;
			margin-right: 60px;
		}
	}
	.right-column-text {
		@include breakpoint(tablet) {
			float: right;
			width: 40%;
		}
	}	
}
